{% load static %}

<nav class="pfea-white">
  <div class="nav-wrapper container">
    <!-- Navbar -->
    <a href="{% url 'pfea_app:index' %}" class="brand-logo"><img class="logo small" src="{% static '/images/pfea_logo-2.png' %}"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'pfea_app:index' %}">Inicio</a></li>
      <li>
        <a class="dropdown-button" data-beloworigin="true" href="#" data-activates="quienes-somos-dropdown">
          Quiénes somos
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      <li>
        <a class="dropdown-button" data-beloworigin="true" href="#" data-activates="programas-dropdown">
          Programas
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li><a href="{% url 'pfea_app:eventos' %}">Eventos</a></li>
      <li>
        <a class="dropdown-button" data-beloworigin="true" href="#" data-activates="apoyanos-dropdown">
          Apóyanos
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a class="dropdown-button" data-beloworigin="true" href="#" data-activates="admin-dropdown">
          Admin
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      {% endif %}
    </ul>

    <!-- SideNav -->
    <ul class="side-nav" id="mobile-demo">
      <!-- Inicio -->
      <li><a href="{% url 'pfea_app:index' %}">Inicio</a></li>
      <!-- Quienes somos -->
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion"><li>
        <a class="collapsible-header">
          Quiénes somos
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{% url 'pfea_app:mvp' %}">Misión, Visión y Principios</a></li>
            <li><a href="{% url 'pfea_app:mensaje_direccion' %}">Mensaje de la Dirección</a></li>
            <li><a href="{% url 'pfea_app:logros' %}">Logros</a></li>
            <li><a href="{% url 'pfea_app:rec_y_cert' %}">Reconocimientos y Certificaciones</a></li>
          </ul>
        </div>
        </li></ul>
      </li>
      <!-- Proramas -->
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion"><li>
        <a class="collapsible-header">
          Programas
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{% url 'pfea_app:ram' %}">Restaurantes Amigos del Mar</a></li>
            <li><a href="{% url 'pfea_app:t_waterkeeper' %}">Tijuana Waterkeeper</a></li>
            <li><a href="{% url 'pfea_app:corredores' %}">Corredores Ecológicos</a></li>
              <li><a href="{% url 'pfea_app:salvemos_playa' %}">Salvemos la Playa</a></li>
          </ul>
        </div>
        </li></ul>
      </li>
      <!-- Eventos -->
      <li><a href="{% url 'pfea_app:eventos' %}">Eventos</a></li>
      <!-- Apoyanos -->
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion"><li>
        <a class="collapsible-header">
          Apóyanos
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{% url 'pfea_app:donativos' %}">Donativos</a></li>
            <li><a href="{% url 'pfea_app:voluntarios' %}">Voluntarios</a></li>
          </ul>
        </div>
        </li></ul>
      </li>
      {% if user.is_authenticated %}
      <!-- Admin -->
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion"><li>
        <a class="collapsible-header">
          Apóyanos
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{% url 'pfea_app:solicitudes' %}">Solicitudes</a></li>
            <li><a href="{% url 'pfea_app:lista_voluntarios' %}">Voluntarios</a></li>
            <li><a href="{% url 'pfea_app:lista_libros' %}">Libros</a></li>
            <li><a href="{% url 'pfea_app:lista_herramientas' %}">Herramientas</a></li>
            <li><a href="{% url 'pfea_app:logout' %}">Salir</a></li>
          </ul>
        </div>
        </li></ul>
      </li>
      {% endif %}
    </ul>

  </div>
</nav>

<ul id="quienes-somos-dropdown" class="dropdown-content">
  <li><a href="{% url 'pfea_app:mvp' %}">Misión, Visión y Principios</a></li>
  <li><a href="{% url 'pfea_app:mensaje_direccion' %}">Mensaje de la Dirección</a></li>
  <li><a href="{% url 'pfea_app:logros' %}">Logros</a></li>
  <li><a href="{% url 'pfea_app:rec_y_cert' %}">Reconocimientos y Certificaciones</a></li>
</ul>

<ul id="programas-dropdown" class="dropdown-content">
  <li><a href="{% url 'pfea_app:ram' %}">Restaurantes Amigos del Mar</a></li>
  <li><a href="{% url 'pfea_app:t_waterkeeper' %}">Tijuana Waterkeeper</a></li>
  <li><a href="{% url 'pfea_app:corredores' %}">Corredores Ecológicos</a></li>
    <li><a href="{% url 'pfea_app:salvemos_playa' %}">Salvemos la Playa</a></li>
</ul>

<ul id="apoyanos-dropdown" class="dropdown-content">
  <li><a href="{% url 'pfea_app:donativos' %}">Donativos</a></li>
  <li><a href="{% url 'pfea_app:voluntarios' %}">Voluntarios</a></li>
</ul>

{% if user.is_authenticated %}
<ul id="admin-dropdown" class="dropdown-content">
  <li><a href="{% url 'pfea_app:solicitudes' %}">Solicitudes</a></li>
  <li><a href="{% url 'pfea_app:lista_voluntarios' %}">Voluntarios</a></li>
  <li><a href="{% url 'pfea_app:lista_libros' %}">Libros</a></li>
  <li><a href="{% url 'pfea_app:lista_herramientas' %}">Herramientas</a></li>
  <li><a href="{% url 'pfea_app:logout' %}">Salir</a></li>
</ul>
{% endif %}
