{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
<table class="highlight responsive-table">
  <thead>
    <tr>
      <th data-field="autor">Autor</th>
      <th data-field="ano">Ano</th>
      <th data-field="titulo">Titulo</th>
      <th data-field="edicion">Edicion</th>
      <th data-field="publicacion">Publicacion</th>
      <th data-field="editorial">Editorial</th>
      <th data-field="volumen">Volumen</th>
      <th data-field="cantidad">Cantidad</th>
    <tr>
  </thead>
  {% for item in object_list %}
    <tbody>
      <td> {{item.Autor}} </td>
      <td> {{item.Ano}} </td>
      <td> {{item.Titulo}} </td>
      <td> {{item.Edicion}} </td>
      <td> {{item.Publicacion}} </td>
      <td> {{item.Editorial}} </td>
      <td> {{item.Volumen}} </td>
      <td> {{item.Cantidad}} </td>
      <td><a href="{% url 'pfea_app:borrar_libro' item.pk %}">Borrar</a></td>
    </tbody>
  {% endfor %}
</table>
<a class="waves-effect waves-light pfea-green btn" href="{% url 'pfea_app:registrar_libro' %}">Nuevo libro</a>
</div>
</div>
{% endblock %}
