{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
    <h2>Libros</h2>
  </div>
  <div class="row">
    <div class="col s12">

<table class="highlight responsive-table">
  <thead>
    <tr>
      <th data-field="autor">Autor</th>
      <th data-field="ano">Ano</th>
      <th data-field="titulo">Titulo</th>
      <th data-field="edicion">Edicion</th>
      <th data-field="publicacion">Publicacion</th>
      <th data-field="editorial">Editorial</th>
      <th data-field="volumen">Volumen</th>
      <th data-field="cantidad">Cantidad</th>
    <tr>
  </thead>
  <tbody>
  {% if object_list %}
  {% for item in object_list %}
    <tr>
      <td> {{item.Autor}} </td>
      <td> {{item.Ano}} </td>
      <td> {{item.Titulo}} </td>
      <td> {{item.Edicion}} </td>
      <td> {{item.Publicacion}} </td>
      <td> {{item.Editorial}} </td>
      <td> {{item.Volumen}} </td>
      <td> {{item.Cantidad}} </td>
      <td><a href="{% url 'pfea_app:borrar_libro' item.pk %}">Borrar</a></td>
      <td><a href="{% url 'pfea_app:editar_libro' item.pk %}">Editar</a></td>
    </tr>
  {% endfor %}
  {% else %}
    <tr>
      <td colspan="8"> No hay libros </td>
    </tr>
  {% endif %}
  </tbody>
</table>

    </div>
  </div>
  <div class="row">
    <a class="waves-effect waves-light pfea-green btn right" href="{% url 'pfea_app:registrar_libro' %}">Nuevo libro</a>
  </div>
</div>
{% endblock %}
