.pfea-white {
    background-color: #ffffff !important;
    color: #222222;
}

.pfea-blue {
    background-color: #0054a6 !important;
    color: #eeeeee;
}

.pfea-green {
    background-color: #559e50 !important;
    color: #eeeeee;
}

.pfea-orange {
    background-color: #f36f21 !important;
    color: #eeeeee;
}