{% load static %}
<footer class="page-footer pfea-blue white-text">
  <div class="container">
    <div class="row">
      <div class="col l4 s12 center">
        <img src="{% static 'images/pfea_wh.png' %}">
      </div>
      <div class="col l4 s12">
        <form>
          <div class="input-field">
            <input placeholder="Nombre" type="text">
          </div>
          <div class="input-field">
            <input placeholder="Correo electrónico" type="text">
          </div>
          <div class="input-field">
            <textarea placeholder="Mensaje" class="materialize-textarea"></textarea>
          </div>
          <button type="submit" class="btn col s12 white black-text">Enviar</button>
        </form>
      </div>
      <div class="col l4 s12">
        <p>Volcán # 632, Secc. Monumental, Playas de Tijuana, Tijuana, B.C., México <br> Tel. (664) 630.05.90 | info@pfea.org</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 PFEA A.C.
    </div>
  </div>
</footer>
