{% extends 'pfea_app/base.html' %}
{% load static %}

{% block content %}
<!-- Parallax -->
<div class="parallax-container">
  <div class="parallax"><img src="{% static 'images/Panoramica2.jpg' %}"></div>
</div>

<!-- Programas -->
<div class="container">
  <div class="row programas">
    <div class="col l4 m12 center valign-wrapper">
      <div class="center-block programa-hp">
        <img width="100" src="{% static 'images/tw.png' %}">
        <h5>Tijuana Waterkeeper</h5>
        <p>Te informamos semanalmente sobre la calidad del agua en la playa, para uso recreativo.</p>
      </div>
    </div>
    <div class="col l4 m12 center pfea-blue white-text valign-wrapper">
      <div class="center-block programa-hp">
        <img width="100" src="{% static 'images/R.A.M._Logo-LetraBlanca.png' %}">
        <h5>Restaurante Amigo del Mar</h5>
        <p>Te enteramos de los graves impactos que ocasionan los plásticos desechables en el océano y las alternativas para prevenirlos.</p>
      </div>
    </div>
    <div class="col l4 m12 center valign-wrapper">
      <div class="center-block programa-hp">
        <img width="100" src="{% static 'images/cet_big.png' %}">
        <h5>Corredores Ecológicos Transfronterizos</h5>
        <p>Representamos tus inquietudes y propuestas en los Comités ciudadanos que se encargan de garantizar que se respeten tus derechos a un ambiente sano.</p>
      </div>
    </div>
  </div>
</div>

<!-- Estadisticas -->
<div class="parallax-container valign-wrapper center estadisticas-parallax">
  <div class="parallax"><img src="{% static 'images/Fondo3_fixed.jpg' %}"></div>
  <div class="estadisticas-overlay"></div>
  <div class="container estadisticas white-text">
    <div class="row">
      <div class="col s12 m6 l3">
        <img src="{% static 'images/icon-4.png' %}">
        <h4>70 ha</h4>
        <p>Rescate de ecosistema ripario</p>
      </div>
      <div class="col s12 m6 l3">
        <img src="{% static 'images/icon-5.png' %}">
        <h4>366</h4>
        <p>Muestreos de calidad de agua</p>
      </div>
      <div class="col s12 m6 l3">
        <img src="{% static 'images/icon-1.png' %}">
        <h4>220,000kg</h4>
        <p>Residiuos sólidos retirados de playas, cañadas y arroyos</p>
      </div>
      <div class="col s12 m6 l3">
        <img src="{% static 'images/icon-2.png' %}">
        <h4>45,000</h4>
        <p>Voluntarios participantes en salvemos la playa</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l12">
        <h4>25 años sumando esfuerzos</h4>
        <p><big>Protegiendo nuestro océano, arroyos y costas</big></p>
      </div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn-large pfea-blue">Apóyanos</a>
    </div>
  </div>
</div>

<!-- Suscripción -->
<div class="center grey darken-3 white-text">
  <div class="row suscripcion">
    <div class="col m12">
      <p><big>Suscribete a ECOS de FRONTERA</big></p>
    </div>
    <form class="col m12">
      <input placeholder="Escribe tu correo electrónico" id="email" type="text" class="validate">
      <input type="submit" value="Suscríbete" class="btn pfea-blue">
    </form>
  </div>
</div>

<!-- Noticias, video y facebook -->
<div class="container center">
  <div class="row">
    <!-- Noticias -->
    <div class="col m12 l4">
      <h5>Noticia 1</h5>
      <p><a href="#">Ver más</a></p>
      <h5>Noticia 2</h5>
      <p><a href="#">Ver más</a></p>
      <h5>Noticia 3</h5>
      <p><a href="#">Ver más</a></p>
    </div>
    <!-- Video -->
    <div class="col m12 l4">
      <h5>TEDx Tijuana 2012</h5>
    </div>
    <!-- Facebook -->
    <div class="col m12 l4">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpfea.org&amp;tabs=timeline&amp;width=340&amp;height=500&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" class="iframe-class"></iframe>
    </div>
  </div>
</div>

<!-- Mapa -->
<iframe style="border: 0; width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.8539109808767!2d-117.12374408529966!3d32.53004850384506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d94ba6b171d2fb%3A0x11ca295a1c440f0f!2sCalle+del+Volcan+632%2C+Playas%2C+Monumental%2C+Tijuana%2C+B.C.!5e0!3m2!1ses!2smx!4v1458275792589" allowfullscreen="allowfullscreen" width="300" height="315" frameborder="0"></iframe>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
{% endblock %}
