  <nav class="pfea-blue">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">PFEA</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Quiénes somos</a></li>
        <li>
					<a class="dropdown-button" data-beloworigin="true" href="#" data-activates="programas-dropdown">
						Programas
						<i class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Apóyanos</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </nav>

	<ul id="programas-dropdown" class="dropdown-content">
		<li><a href="#">Restaurantes Amigos del Mar</a></li>
		<li><a href="#">Tijuana Waterkeeper</a></li>
		<li><a href="#">Corredores ecológicos</a></li>
	</ul>
