{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}Proyecto Fronterizo de Educación Ambiental{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{% static 'icons/material-design/iconfont/material-icons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/calendar/fullcalendar.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.colors.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.footer.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.icons.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.images.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.navbar.css' %}" media="screen,project"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.parallax.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/pfea/pfea.widgets.css' %}" media="screen,projection"/>
  </head>

  <body>

    {% include 'navbars/navbar.html' %}
    <div class="main">
    {% block content %}{% endblock %}
    </div>
    {% include 'footers/footer.html' %}

    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pfea-script.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gcal.js' %}"></script>

    {% block javascript %}
    {% endblock %}
  </body>
</html>
