{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Que es -->
<div class="parallax-container custom no-margin">
    <div class="parallax-content">
        <div class="parallax"><img src="{% static 'images/FRONTERA_NORTE.jpg' %}"></div>
        <div class="container">
            <div class="row">
                <div class="col m6 l6"></div>
                <div class="col s12 m6 l6">
                    <div class="text-container small valign-wrapper">
                        <h3 class="center-block">Gracias</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-title left-align pfea-blue"></div>
</div>
{% endblock %}
