{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Parallax -->
<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="{% static 'images/page-title-background.jpg' %}"></div>
  <h1 class="center-block center white-text">Tijuana Waterkeeper</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col m12 center">
      <h3>Alzamos la voz en defensa de los cauces y cuerpos de agua de la cuenca del Río Tijuana.</h3>
      <h4>Actividades</h4>
      <p>Monitoreo Ciudadano de Calidad de Agua</p>
      <p>Proyecto Comunitario "Salvemos La Playa"</p>
      <p>Talleres de Educación Ambiental "Playa, un Punto de Encuentro"</p>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
{% endblock %}
